<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Zgloszenia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <Zgloszenia.Properties.Settings>
      <setting name="zapamietaj_haslo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value/>
      </setting>
      <setting name="Haslo" serializeAs="String">
        <value/>
      </setting>
      <setting name="loguj_auto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wersja_steam" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lokalizacja_cs16" serializeAs="String">
        <value/>
      </setting>
      <setting name="lokalizacja_csgo" serializeAs="String">
        <value/>
      </setting>
      <setting name="dzwiek_powiadomien" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dymki_powiadomien" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="nr_dzwieku_powiadomien" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="uruchamiaj_z_win" serializeAs="String">
        <value>False</value>
      </setting>
    </Zgloszenia.Properties.Settings>
  </userSettings>
</configuration>
